.page {
  background-color: #190d2e; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-box {
  background-color: #180d2e; /* transparent form */
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white; 
}


.form-box h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}


.input {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: white; 
}

.input::placeholder {
  color: rgb(151, 151, 151); 
  opacity: 1;
}


.btn {
  background-color: rgb(255, 255, 255);
  color: #39374a;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.toggle-text {
  text-align: center;
  color: white;
}

.toggle-link {
  color: #fefefe; 
  cursor: pointer;
  font-weight: bold;
}
